name: CI Backend

on:
  pull_request:
    branches: [staging, main]
    paths:
      - "backend/**"
      - ".github/workflows/ci-backend.yml"
  push:
    branches: ["*"]
    paths:
      - "backend/**"
      - ".github/workflows/ci-backend.yml"

jobs:
  ci:
    runs-on: ubuntu-latest
    

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install uv
        run: pip install uv

      - name: Install dependencies
        working-directory: backend
        run: uv sync --frozen

      - name: Lint
        working-directory: backend
        run: uvx ruff check .

      # - name: Run tests
      #   run: uv run pytest
      # TODO: IMPLEMENTAR TESTES

      - name: Docker build
        working-directory: backend
        run: docker build -t api-ci .
