name: CI

on:
  pull_request:
    branches: ["main", "staging"]
  push:
    branches: ["*"]

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install uv
        run: pip install uv

      - name: Install dependencies
        run: uv sync --frozen

      - name: Lint
        run: uvx ruff check .

      # - name: Run tests
      #   run: uv run pytest
      # TODO: IMPLEMENTAR TESTES

      - name: Docker build
        run: docker build -t api-ci .
